/* 
 * define preset colors based on rose pine color pallet 
 * https://rosepinetheme.com/palette/
 */
@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;
@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;
@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;
@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

/* default the font size */
* {
    font-size: 18px;
    color: @rose;
}

window#waybar {
    padding-top: 5px;
    padding-top: 5px;
    border-radius: 15px;
    transition-duration: .5s;
    background-color: transparent;
}

/* #workspaces button.focused { */
#workspaces button.active {
    border-top: 3px solid @love;
    border-bottom: 3px solid @love;
    border-left: 2px solid @love;
    border-right: 2px solid @love;

}

#workspaces button.urgent {
    background-color: @love;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: @surface;
    border-top: 3px solid @pine;
    border-bottom: 3px solid @pine;
    border-left: 2px solid @pine;
    border-right: 2px solid @pine;
    border-radius: 25px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
    border-bottom: 2px solid @highlightLow;
    border-top: 2px solid @highlightLow; 
}

#clock, #mpd, #pulseaudio, #network, #cpu, #memory, #temperature, #clock, #window,  #tray {
    padding-left: 8px;
    padding-right: 8px;
    background-color: @surface;
    font-weight: 600;
    border-radius: 25px;
    border-top: 3px solid @pine;
    border-bottom: 3px solid @pine;
    border-left: 2px solid @pine;
    border-right: 2px solid @pine;
}

#window {
    min-width: 500px;
}
